[package]
name = "rock"
version = "0.0.1"
authors = ["champii <contact@champii>"]
edition = "2018"

[dependencies]
clap = "2.32.0"
llvm-sys = "70"
lazy_static = "1.2.0"
regex = "1"

[lib]
name = "rock"
path = "src/lib/rock.rs"

[[bin]]
name = "rock"
path = "src/bin/main.rs"