[package]
name = "plasma"
version = "0.1.0"
authors = ["champii <contact@champii>"]
edition = "2018"

[dependencies]
clap = "2.32.0"
llvm-sys = "70"
lazy_static = "1.2.0"

[lib]
name = "plasma"
path = "src/lib/plasma.rs"

[[bin]]
name = "plasma"
path = "src/bin/main.rs"