name: Generator

on:
  create

jobs:
  replace:
    runs-on: ubuntu-latest
    name: Generate files.

    steps:
      - uses: actions/checkout@v2

      - name: Generate replacements
        run: |
          ./.github/templates/replacer.sh

      - name: Add & Commit
        uses: EndBug/add-and-commit@v7.3.0
        with:
          message: Generated files for new version

      - name: GitHub Push
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: $GITHUB_REF
