name: Generator

on:
  create

jobs:
  replace:
    runs-on: ubuntu-latest
    name: Generate files.
    env:
      NEW_VERSION: $(cat .github/version)-${{ env.GITHUB_REF }}

    steps:
      - uses: actions/checkout@v2
      - name: Generate replacers
        run: |
          ./.github/templates/replacer.sh
          git commit -am "Generated files for version $NEW_VERSION"
          git push origin $GITHUB_REF
