name: Rust

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Cache
      uses: actions/cache@v2.1.6
      with:
        path: |
          ~/.cargo
          ./target
        key: ${{ runner.os }}-build-${{ hashFiles('./target/debug/rock') }}
        # restore-keys: rustbuildcache
    - name: rust-toolchain
      uses: actions-rs/toolchain@v1.0.6
      with:
        toolchain: nightly
    - name: Install LLVM and Clang
      uses: KyleMayes/install-llvm-action@v1.4.1
      with:
        version: 11.0.1
        cached: true
    - uses: actions/checkout@v2
    - name: Build
      run: cargo +nightly build
    # - name: Force rights
    #   run: |
    #     chmod 777 -R .
    # - name: Run tests
    #   run: cargo +nightly test
    # - name: rustfmt-check
    #   uses: LoliGothick/rustfmt-check@v0.2.0
    #   with:
    #     token: ${{ secrets.GITHUB_TOKEN }}
    # - name: rust-clippy-check
    #   uses: actions-rs/clippy-check@v1.0.7
    #   with:
    #     token: ${{ secrets.GITHUB_TOKEN }}
    #     toolchain: nightly
