name: Rust

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: rust-toolchain
      uses: actions-rs/toolchain@v1.0.6
      with:
        toolchain: nightly
    # - name: Install LLVM and Clang
    #   uses: KyleMayes/install-llvm-action@v1.4.1
    #   with:
    #     version: 12.0.1
    #     # cached: true
    # - name: Add LLVM to path
    #   run: |
    #     echo "${LLVM_PATH}/bin" >> $GITHUB_PATH
    - name: Install Clang LLVM
      uses: egor-tensin/setup-clang@v1
      with:
        version: 12.0.1
    - name: Cache
      uses: actions/cache@v2.1.6
      with:
        path: |
          ${HOME}/.cargo/**
          ./target/**
        key: ${{ runner.os }}-build-${{ hashFiles('./target/debug/rock') }}
        # restore-keys: rustbuildcache
    - uses: actions/checkout@v2
    - name: Build
      run: cargo +nightly build
    # - name: Force rights
    #   run: |
    #     chmod 777 -R .
    - name: Run tests
      run: |
        whereis llc
        whereis clang
        cargo +nightly test
    # - name: rustfmt-check
    #   uses: LoliGothick/rustfmt-check@v0.2.0
    #   with:
    #     token: ${{ secrets.GITHUB_TOKEN }}
    # - name: rust-clippy-check
    #   uses: actions-rs/clippy-check@v1.0.7
    #   with:
    #     token: ${{ secrets.GITHUB_TOKEN }}
    #     toolchain: nightly
